<%- include("partials/header.ejs")  %>
<style>
    body {
        background-color: #ececec;
    }
</style>

<main class="main-body container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="my-5">
                <p class="lead">
                    Welcome to our blog! We're a passionate team of writers and creators dedicated to sharing our thoughts, experiences, and expertise with the world. Whether it's the latest trends in technology, insightful reflections on life, or practical tips for everyday living, we strive to deliver engaging content that inspires, educates, and entertains.
                </p>
                <p class="lead">
                    Our journey began with a shared love for storytelling and a desire to connect with others through the power of words. With each post, we aim to spark meaningful conversations, challenge perspectives, and foster a sense of community among our readers.
                </p>
                <p class="lead">
                    Join us as we embark on this exciting adventure of discovery and exploration. Together, let's explore the boundless possibilities of the written word and celebrate the beauty of expression.
                </p>
                <p class="lead">
                    Thank you for being part of our story.
                </p>
            </div>
        </div>
    </div>
</main>


<%- include("partials/footer.ejs")  %>